/* const buttonStyle={
    fontSize:"30px",
    backgroundColor:"#00a5ab",
    width:"50px",
    height:"50px",
    padding:"5px",
    color:"white",
    borderRadius:"25px"
};     */

.counterButton {
    font-size:15px;
    background-color : #00a5ab;
    width:100px;
    margin: 10px;
    height:30px;
    padding:5px;
    color:white;
    border-radius:25px;
}    

.counterButtonDec {
    font-size:15px;
    background-color : red;
    width:100px;
    margin: 10px;
    height:30px;
    padding:5px;
    color:white;
    border-radius:25px;
} 

.count {
    font-size: 50px;
    padding: 20px;
}

.totalCount {
    font-size: 150px;
    padding: 20px;
    color: red
}

.resetButton{
    font-size:15px;
    background-color : grey;
    width:100px;
    margin: 10px;
    height:30px;
    padding:5px;
    color:white;
    border-radius:25px;

}